## Tarea:
- **Lee las celdas de texto, y ejecuta las celdas en las que hay código.** La idea principal es entender lo que lees y lo que se ha preparado como ejemplo.
- **En las celdas vacías de código, debes completar el ejercicio propuesto.**
- **Al terminar, escribe tu nombre aquí, debajo de esta celda.**
- **Guarda el documento.** (botón del disco flexible o menú *file*) **
- **Agrega el documento en la tarea de Moodle**.

**Alumno/a:**
wasim
___________________________________________________

Este Notebook ha sido tomado del curso básico del Instituto Humai (Argentina).

# Listas <a name="section-1"></a>

Las listas son un conjunto de elementos ordenados. Estos elementos pueden ser de cualquier tipo, incluyendo otras listas. Veamos algunas operaciones con ellas.

In [1]:
amigos = ['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']

### Indexing y slicing en listas

De la misma forma que con los strings en el contexto de la listas generalmente hablamos de **indexación** o acceso por índice a la acción de encontrar un valor según su posición en la lista. 

Importantísimo (sí, ¡una vez más!): En Python el primer elemento se indexa con el valor 0. Es decir, si queremos el primer valor de una lista tenemos que llamar a la posición 0.

In [2]:
amigos[0]

'Mateo'

Además, el último elemento se indexa como -1, el siguiente -2 y así sucesivamente. Entonces para acceder al último elemento:

In [3]:
amigos[-1]

'Paola'

Además, podemos acceder a varios elementos en simultáneo, usando el **slicing** de la misma manera que con strings.

El slicing aplicado a una lista nos devuelve una **lista**.

Veamos algunos ejemplos:

In [4]:
amigos[:] # arranco en 0 hasta el final, con el paso default (1)

['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']

In [5]:
amigos[:1] # arranco en 0 y el primero sin incluir es el 1, con el paso default (1)

['Mateo']

In [6]:
amigos[:-1] # excluímos el último elemento

['Mateo', 'Nico', 'Claudia', 'Ernestina']

In [7]:
amigos[::2] # salteamos un elemento a la vez

['Mateo', 'Claudia', 'Paola']

Ejercicios:

1- ¿Es el resultado de amigos[:1] igual al de acceder directamente a la primera posición? 

2- Recorrer la lista de elementos de atrás para adelante.

3- Seleccionar del 3er elemento al 4to elemento.

### Otras operaciones y métodos

Agregar un nuevo elemento:

In [8]:
amigos.append('Chicharito')
print(amigos)

amigos = amigos + ['Chicharito']

x = 10

x = x + 3

x

['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito']

13

Sumamos otra lista:

In [9]:
amigos = amigos + ['Pipi', 'Toto']
print(amigos)

['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito', 'Pipi', 'Toto']

Unir una lista con un separador dado:

In [10]:
ejemplo = ['valor1', 'valor2', 'valor3']
';'.join(ejemplo)

'valor1;valor2;valor3'

El ejercicio 1 se podría haber resuelto usando .join así:

In [11]:
" ".join(["hola", "qué tal"])

'hola qué tal'

Borrado por valor:

In [12]:
amigos.remove('Mateo')
print(amigos)

['Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito', 'Pipi', 'Toto']

Borrado por índice:

In [13]:
del amigos[0]
print(amigos)

['Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito', 'Pipi', 'Toto']

Devuelve un elemento y lo borra de la lista:

In [14]:
valor = amigos.pop(0)

In [15]:
edades = [30, 40, 38, 30, 37]

Cantidad de apariciones:

In [16]:
print(edades.count(30))

2

Largo de la lista:

In [17]:
print(len(edades))

5

Ordenar la lista:

In [18]:
sorted(edades)

[30, 30, 37, 38, 40]

Sumar el total:

In [19]:
print(sum(edades))

175

Mínimo:

In [20]:
print(min(edades))

30

Máximo:

In [21]:
print(max(edades))

40

Ejercicio: <a name="section-7"></a>

1- Calcular el promedio de edad de la lista "edades"

In [23]:
edades = [20,25,30,28,22]
promedio = sum(edades) / len(edades)
print("El promedio de edad es:", promedio)

El promedio de edad es: 25.0

## Diccionarios <a name="section-8"></a>

Los diccionarios consisten en estructuras que contienen pares de una **llave** y un **valor**. Los elementos NO están ordenados, con lo cual no se puede acceder por posición ni slicing.

Veamos un ejemplo

In [24]:
dnis = {'Herrera':32676585, 'Guzmán':9564787, 
        'Pérez':5676898, 'Hernández':40565999, 
        'Abraham':28375814,
       "soy_una_llave":"soy_un_valor"}

Sin embargo, sí podemos acceder a un elemento por su llave. Accedemos al valor de "Abraham"

In [25]:
dnis['Abraham'] # noten que se usa la misma notación que con las listas

28375814

¿Qué pasa si tratamos un diccionario como una lista?

In [27]:
dnis[0]

KeyError: 0

Tenemos un error, tratemos de interpretarlo: KeyError se refierre a que no existe una llave (Key) a la que se trató de acceder. En este caso la llave que se trató de acceder es 0.

Podemos ver todas las llaves:

In [28]:
dnis.keys()

dict_keys(['Herrera', 'Guzmán', 'Pérez', 'Hernández', 'Abraham', 'soy_una_llave'])

Traer todos los pares de elementos:

In [29]:
dnis.items()

dict_items([('Herrera', 32676585), ('Guzmán', 9564787), ('Pérez', 5676898), ('Hernández', 40565999), ('Abraham', 28375814), ('soy_una_llave', 'soy_un_valor')])

Y utilizar los mismos métodos para borrar y extrar como en las listas:

In [30]:
dnis.pop('Herrera')

32676585

Los diccionarios tienen longitud, de la misma forma que las listas y string

In [31]:
len(dnis)

5

## Condicionales <a name="section-9"></a>

El condicional tiene la siguiente sintáxis:

    if CONDICIÓN:
        código1
    elif CONDICIÓN2:
        código2
    else:
        código3
        
Donde la condición es un operador que devuelve un objeto de tipo booleano. La **indentación** del código define qué parte se incluye como condicional.

El término "elif" viene de "else if". La condición sólo se evaluará si la condición del "if" no se cumple.

In [32]:
precio_dolar = 62

if precio_dolar >= 90:
    print("El dólar se fue por las nubes")
elif (precio_dolar < 90) and (precio_dolar >= 70):
    print("El dolar subió")
else: 
    print("El dólar es menor a 70")

print(precio_dolar)

El dólar es menor a 70
62

## Bucles o Loops

Los bucles son un tipo de sentencia donde se realiza el código contenido repetidamente. Existen dos tipos. En el bucle **for**, se **itera** o recorre un conjunto de elementos actuando por cada uno de ellos. En el bucle **while** se itera hasta que se cumple una condiciónn de corte.

### For loop

In [33]:
for n in [1,2,'3']:
    print(f'EL tipo es {n*2} {type(n*2)}')

EL tipo es 2 <class 'int'>
EL tipo es 4 <class 'int'>
EL tipo es 33 <class 'str'>

In [34]:
lista = [1,2,3,4,5]

for n in lista:
    print(n * 2)

2
4
6
8
10

También agreguemos la función **range** a nuestro repertorio. La función range consta de tres parámetros importante: start, stop, step. Si pasamos un sólo parámetro, estamos pasando el "stop" y tomamos 0 como valor default de "start". Del mismo modo que cuando vimos listas, el stop no está incluído y el step por default es 1.

Veamos cómo funciona:

In [35]:
for n in range(5):
    print(n)

0
1
2
3
4

Si pasamos dos parámetros, estamos pasando el start y el stop, el primer valor es el "start" y el segundo el "stop".

In [36]:
for n in range(0,5):
    print(n)

0
1
2
3
4

Notad que el valor de start se incluye y el de stop no:

In [37]:
for n in range(1, 6): # esto nos da el mismo resultado que un par de celdas más arriba
    print(n * 2)

2
4
6
8
10

Por último, el tercer parámetro es el step...

Ejercicios combinando lo visto hasta el momento:

1- Imprimir los valores de 1 a 50, salteando de a un valor por vez...

2- Dada la siguiente lista: medios = ["cheques", "bonos", "acciones", 1000, "transferencia"]. Acceder al 2do elemento, y luego al 3er elemento (de ese 2do elemento) y responder qué devulve.

3- De manera similar, ahora accedan al 4to elemento, y luego al 3er elemento de éste, ¿qué ocurre?

4- Agreguen una lista vacía al final de esa lista.

5- Recorran *medios* (iteren) y si el tipo del elemento es string, hagan un print de su primer elemento, si es int (entero) pásenlo a string y hagan un print de su primer elemento y si no es nada de eso hagan un print que diga "Es otro tipo". Tip1: para pasar un elemento a tipo string pueden usar la función str(variable), donde variable es el elemento que quieren transformar. Tip2: para arrancar este ejercicio pueden copiar lo siguiente:

In [38]:
for medio in medios:
    pass # pass no hace nada, sólo pasa sin ejecutar nada... Reemplácenlo y completen con las condiciones.

NameError: name 'medios' is not defined

### While loop

Los bucles **while** se definen con una condición, y el código contenido se ejecuta mientras la misma evalue como True. Es importante definir correctamente cuándo la condición pasa de True a False, si no lo hacemos podemos dejar corriendo un programa infinitamente sin que corte. Si eso llega a suceder tienen un botón de stop arriba en la notebook.

In [ ]:
contador = 0

while contador < 20:
    contador += 1 # esto equivale a count = count + 1
    print(contador)

---

## Recursos y tips


- [Google!](https://google.com)
- [StackOverflow](https://stackoverflow.com)
- [Google Colab](https://colab.research.google.com)
- [Slicing](https://python-reference.readthedocs.io/en/latest/docs/brackets/slicing.html)
--- 

## Tips en la práctica

- Ver _docstring_ con Shift + TAB o help()
- Leer Errores
- Print